article#cv {
	section#cv-interlude {
		margin-bottom: 20px;
	}
	section#my-cv {
		$timeline-color: #000000;
		$timeline-bg: #ffffff;

		border-left: 1px solid $timeline-color;

		.job, .education {
			position: relative;
			padding-left: 20px;

			.dot {
				display: inline-block;
				width: 15px;
				height: 15px;
				border-radius: 50%;
				position: absolute;
				left: -8px;
				top: 8px;
				border: 2px solid $timeline-color;
				background-color: $timeline-bg;
			}
		}
	}

	.job, .education {
		margin-bottom: 35px;
	}
	.times {
		font-style: italic;
		color: $color-accent-3;

		.now {
			color: $color-accent-1;
		}
	}
	.headline {
		.position, .company, .degree {
			font-weight: bold;
		}
		.degree {
			margin-left: 10px;
		}
	}
	.subline .school {
		font-weight: bold;
	}
	.tech-stack {
		margin: 6px 0;

		.tech {
			$tech-border-accent: #ff1818;
			$tech-border-fade: #ff181830;

			border-bottom: 2px solid $tech-border-accent;
			border-right: 2px solid $tech-border-accent;
			border-top: 1px solid $tech-border-fade;
			border-left: 1px solid $tech-border-fade;
			padding: 1px 3px;
			margin-right: 2px;
		}
	}
}