{{ define "main"}}
<section id="archive" class="mx-4 md:mx-8 mb-4">
  <ol>
  {{ range (sort .Pages "Date" "desc") }}
    {{ $pageYear := (.Date.Format "2006") }}
    {{ if (ne $pageYear ($.Scratch.Get "year")) }}
    {{ $.Scratch.Set "year" $pageYear }}
    <h2 class="mt-4 md:mt-6 font-bold">{{ $pageYear }}</h2>
    {{ end }}
    <li class="flex items-center my-2 ml-2 md:ml-6">
      <div class="mr-2 md:mr-0 md:w-32 font-mono text-xs md:text-sm text-subtle">
        <time datetime="{{ time .Date }}" itemprop="datePublished">{{ .Date.Format .Site.Params.dateFormat }}</time>
      </div>
      <div class="flex-1">
        <a class="fancy-link" href="{{ .Permalink }}">{{ if .Title }} {{- .Title -}} {{ else }} {{- print "Untitled" -}}{{ end }}</a>
      </div>
    </li>
    {{ end }}
  </ol>
</section>
{{ end }}
