@font-face {
  font-style: normal;
  font-family: "JetBrains Mono";
  font-display: swap;
  src: url("../lib/JetBrainsMono/JetBrainsMono-Regular.woff2") format("woff2");
};

@font-face {
  font-family: "iA Writer Quattro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../lib/iAWriterQuattro/iAWriterQuattroS-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "iA Writer Quattro";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../lib/iAWriterQuattro/iAWriterQuattroS-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "iA Writer Quattro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../lib/iAWriterQuattro/iAWriterQuattroS-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "iA Writer Quattro";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../lib/iAWriterQuattro/iAWriterQuattroS-BoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Virgil";
  font-style: normal;
  font-display: swap;
  src: url("../lib/Virgil/Virgil.woff2") format("woff2");
}