<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8" />
    {{ partialCached "tailwind.html" . }}
    <link rel="preload" as="font" type="font/woff2" href="/fonts/iAWriterQuattroS-Regular.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="/fonts/JetBrainsMono-Regular.woff2" crossorigin>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ .Site.Params.Author }}">
    {{- with .Summary | plainify | strings.TrimRight " \r\n\t" -}}
    <meta name="description" content="{{ . }}">
    <meta property="og:description" value="{{ . }}">
    {{ end -}}
    <meta property="og:title" value="{{ .Title }}" />
    <meta property="og:url" value="{{ .Permalink }}" />
    {{- if .IsPage }}
    <meta property="og:type" value="article" />
    <meta property="og:article:author" value="{{ .Site.Params.Author }}" />
    <meta property="og:article:published_time" value="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}" />
    {{ end -}}
    {{- if .Params.index | default true }}
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    {{ else }}
    <meta name="robots" content="noindex">
    {{ end -}}
    <title>{{ if .IsPage }} {{ .Title }} | {{ end }}{{ .Site.Params.Author }}</title>
    <link rel='canonical' href='{{ .Permalink }}'>
    <!-- Created via https://realfavicongenerator.net/ -->
    <link rel="icon" type="image/png" href="{{ "images/favicon-96x96.png" | absURL }}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ "images/favicon.svg" | absURL }}" />
    <link rel="shortcut icon" href="{{ "images/favicon.ico" | absURL }}" />
    {{- $candidates := slice }}
    {{- if .Page.IsHome }}
    {{- $candidates = slice (.GetPage "writings") (.GetPage "picks") }}
    {{- else }}
    {{- $candidates = union (slice .Page) .Ancestors }}
    {{- end }}
    {{- range $candidates }}
      {{- $title := or .Params.rss_title .Title }}
      {{- with .OutputFormats.Get "rss" }}
        {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink $title | safeHTML }}
      {{- end }}
    {{- end }}
  </head>
  <body id="very-top" class="flex flex-col h-screen max-w-6xl container mx-auto bg-pane break-words text-base text-writing md:text-lg antialiased hyphens-auto leading-relaxed font-sans">
    <header>{{ partial "header.html" . }}</header>
    <main class="grow">{{ block "main" . }}{{ end }}</main>
    <footer>{{ partial "footer.html" . }}</footer>
  </body>
</html>
