@import "tailwindcss";
@import "fonts.css"

@theme {
  --color-primary: var(--color-fuchsia-400);
  --color-accent: var(--color-rose-500);
  --color-subtle: var(--color-zinc-500);
  --color-pane: var(--color-white);
  --color-surface: #eff1f5; /* taken from catppuchino-latte code highlight */
  --color-crust: var(--color-zinc-300);

  --font-sans: "iA Writer Quattro", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@layer components {
  .fancy-link {
    text-decoration: none;
    border-image: linear-gradient(90deg, var(--color-primary) 0%, var(--color-accent) 100%) 1;
    border-bottom: 2px solid var(--color-primary);
  }

  .h-spaced {
    @apply mx-4 md:mx-8;
  }

  .tag {
    @apply py-1 px-1;
    @apply border-b-2 border-b-accent;
    @apply border-r-2 border-r-accent;
    @apply border-t-1 border-t-accent/50;
    @apply border-l-1 border-l-accent/50;
  }
}

body {
  @apply antialiased;
}

@import "markdown.css";
