.prose {
  p {
    @apply text-justify my-4;
  }

  figure img {
    @apply mx-auto;
  }

  figure figcaption, blockquote:not(.callout) {
    @apply text-justify my-4 border-l-2 border-l-primary pl-4;
  }
  blockquote.callout {
    @apply flex items-start gap-3 my-4 py-2 px-4 rounded bg-surface;

    p:first-child {
      @apply mt-0;
    }
    p:last-child {
      @apply mb-0;
    }
  }

  h2 {
    @apply text-2xl pt-5;
  }

  h3 {
    @apply text-xl pt-2;
  }

  h2, h3 {
    @apply font-bold before:content-['Ξ'] before:text-accent before:mr-2;
  }

  code {
    @apply hyphens-manual font-mono;
    /* For code _outside_ of highlight/pre blocks! */
    @apply border border-solid border-crust px-1;
  }

  pre {
    @apply py-2 px-3 my-1 overflow-x-auto border border-solid border-crust;

    /* NOTE: Using the old `theme()` method here because we can't use the native
      `var(--breakpoint-sm)` inside the `@media` query, as suggested by Tailwind4 docs
    */
    @media (width < theme(--breakpoint-sm)) {
      width: 100vw;
      margin-left: 50%;
      transform: translate(-50%);
      padding-left: calc(100vw / 2 - 50%);
      border-left: none;
      border-right: none;
    }

    code {
      @apply border-none px-0;
    }
  }

  .highlight pre {
    @apply border-none;
  }

  ol {
    @apply list-decimal ps-7 my-4;
  }

  ul {
    @apply list-disc ps-4 my-4;
  }

  li {
    @apply ps-1;
  }

  table {
    @apply w-full text-left;

    thead tr {
      @apply bg-surface border-b border-crust;
    }

    tbody tr {
      @apply odd:bg-pane even:bg-surface border-b border-crust;
    }
    
    td, th {
      @apply px-6 py-3;
    }
  }
}
