<div class="job">
	<span class="dot">&nbsp</span>
	<div class="times">
		{{ .from }} &mdash; 
		{{ if isset . "until" }}
			{{ .until }}
		{{ else }}
			<span class="now">Now</span>
		{{ end }}
	</div>
	<div class="headline">
		<span class="position">{{ .position }}</span> 
		at <span class="company">{{ .company }}</span> 
		in <span class="city">{{ .city }}</span>
	</div>
	<div class="tech-stack">
		{{ range .tech_stack }}
		<span class="tech">{{ . | lower }}</span>
		{{ end }}
	</div>
	<p class="description">{{ .work | markdownify }}</p>
</div>
