<div class="mx-4 md:mx-8 mt-4 md:mt-6 mb-4">
  <a class="grayscale hover:grayscale-0" href="{{ .Site.BaseURL }}">
    <div class="w-16 h-16 mr-5 float-left bg-no-repeat bg-center bg-contain rounded-md" style="background-image: url({{ "images/logo.png" | absURL }})"></div>
    <div class="text-3xl font-bold">{{ .Site.Title }}</div>
  </a>
  <nav>
    <ol class="flex text-fuchsia-500">
      {{ range .Site.Menus.main }}
      <li class="text-base inline-block leading-4 mt-1 pr-3 mr-3 align-middle border-dotted border-r-2 last:border-none">
        <a href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ol>
  </nav>
</div>

