{{ define "main"}}
<section class="h-spaced mb-2 prose">
  <p>All recommendations; no reviews - just pitches; no spoilers.</p>
</section>

<section id="pick-filters" class="h-spaced mb-4">
  <ul>
    <li class="mr-2 mb-2 inline-block"><span class="font-bold">Filter:</span></li>
    {{/*
      `$` refers to the page being rendered, `.` is the section we're looking at.
      If they are the same, we're on the specific section page now - activate the filter.
    */}}
    {{- with .GetPage "picks" }}
      <li class="filter {{ if eq $ . }}active{{ end }} mr-2 mb-2 inline-block">
        <a href="{{ .RelPermalink }}">All</a>
      </li>
      {{- range .Sections.ByTitle }}
      	<li class="filter {{ if eq $ .}}active{{ end }} mr-2 mb-2 inline-block">
          <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        </li>
      {{- end }}
    {{- end }}
  </ul>
</section>

<section id="picks" class="h-spaced mb-4">
  <div class="grid gap-3 grid-cols-2 sm:grid-cols-3 md:grid-cols-4">
  {{- $pages := sort .RegularPagesRecursive "Date" "desc" }}
  {{- $paginator := .Paginate $pages 25 }}
  {{- range $paginator.Pages }}
    <a class="block" href="{{ .Permalink }}">
      <figure class="relative">
        {{- with .Resources.GetMatch "cover.*" }}
          {{- with .Resize "fill 526x700 webp q100" }}
          <img src="{{ .RelPermalink }}" class="rounded-md" width="{{ div .Width 2 }}" height="{{ div .Height 2 }}"/>
          {{- end }}
        {{- end }}
        <figcaption class="py-0.5 px-1 absolute bottom-0 left-0 right-0 bg-surface/80 text-center line-clamp-1">{{ .Title }}</figcaption>
      </figure>
    </a>
  {{- end }}
  {{- if $paginator.HasNext }}
    <a class="block relative grow rounded-md bg-surface/40" href="{{ $paginator.Next.URL }}">
      <span class="py-0.5 px-1 absolute bottom-0 left-0 right-0 text-center">More...</span>
    </a>
  {{- end }}
  </div>
</section>
{{ end }}
